<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>configdemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  <param-name>author</param-name>
  <param-value>sureshkalluri</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>AppConfigDemo</display-name>
    <servlet-name>AppConfigDemo</servlet-name>
    <servlet-class>com.orgname.AppConfigDemo</servlet-class>
  <init-param>
  <param-name>exparam</param-name>
  <param-value>driver</param-value>
  </init-param>  
    
   <init-param>
   <param-name>username</param-name>
   <param-value>root</param-value>
   </init-param>
   
    <init-param>
   <param-name>password</param-name>
   <param-value>postgres</param-value>
   </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AppConfigDemo</servlet-name>
    <url-pattern>/AppConfigDemo</url-pattern>
  </servlet-mapping>
</web-app>